/* Estilo para el TabPane */
.tab-pane {

    -fx-background-image: url("../../../assets/ui/ui_medium_wood_v.png");
    -fx-background-position: top;
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
}

/* Estilo para las pestañas */
.tab-pane .tab {
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: #a2724a;
    -fx-border-color: #312a24;
    -fx-border-width: 1px 1px 2px 1px;
    -fx-border-radius: 10px 10px 0 0;
}

/* Estilo para la pestaña seleccionada */
.tab-pane .tab:selected {
    -fx-background-color: #daba91;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-color: #312a24 #312a24 #daba91 #312a24;
}

/* Estilo para el área de header */
.tab-pane .tab-header-area {
    -fx-padding: 10px 0 0 20px; /* Ajusta el valor según el espacio que quieras */
}

/* Eliminar fondo entre pestañas */
.tab-pane .tab-header-background {
    -fx-background-color: #a2724a;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #312a24;
    -fx-border-width: 2px;
}
