#abilityBar {
    -fx-background-image: url("../../../../assets/ui/ui_small_wood.png");
    -fx-background-position: top;
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
}