#root{
    -fx-background-image:  url("../../assets/backgrounds/map_background.jpg");
    -fx-background-position: center;
    -fx-background-repeat: NO-REPEAT;
    -fx-background-size: COVER, AUTO;
}
#path{
    -fx-fill: TRANSPARENT;
    -fx-stroke-dash-array: 20, 80, 270, 80;
}